# {{ ansible_managed }}

uri {% if adjoin_mgmt_enabled %} {% for domain_controller in adjoin_mgmt_domain_controllers %} ldap://{{ domain_controller }} {% endfor %} {% endif %} {% for domain_controller in adjoin_domain_controllers %} ldap://{{ domain_controller }} {%- endfor %}

scope sub
