# {{ ansible_managed }}

[global]
  realm = {{ domain.name|upper }}
  workgroup = {{ domain.workgroup }}
  security = ADS
  client signing = yes
  client use spnego = yes
  kerberos method = secrets and keytab
  log file = /var/log/samba/%m.log
  {% if ansible_hostname != adjoin_netbios_name -%}netbios name = {{ adjoin_netbios_name|upper }}{% endif %}
